* {
    margin: 0;
    padding: 0;
    position: relative;
}

#root {
    position: relative;
    width: 100%;
}

#canvas {
    display: block;
    height: 200px;
    width: 1200px;
    margin: 100px auto;
}

#image,
#horizon,
#cloud {
    display: none;
}

body {
    transition: filter 1.5s cubic-bezier(0.65, 0.05, 0.36, 1),
        background-color 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);

    /*告诉浏览器即将对某元素执行什么动画，这样浏览器可以提前进行准备来优化动画效果，使动画更为流畅*/
    will-change: filter, background-color;
}

.inverted {
    filter: invert(100%);
    /*反色*/
    background-color: #000;
    /*改变背景为黑色(入夜效果)*/
}